body {
  font-family: Manrope, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 25px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 40px;
  line-height: 49px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  margin-bottom: 21px;
  font-size: 18px;
  line-height: 144%;
  font-weight: 700;
  letter-spacing: 0.0885938px;
}

p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 137%;
}

a {
  color: #3e46b1;
  text-decoration: none;
}

.container {
  position: relative;
  width: 95%;
  max-width: 1167px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.blue-btn {
  padding: 13px 58px 14px;
  border-radius: 26px;
  background-color: #3e46b1;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.216px;
  text-decoration: none;
}

.blue-btn:hover {
  box-shadow: 0 2px 10px 0 rgba(62, 70, 177, 0.8);
}

.blue-btn.gradient-setting {
  display: block;
  max-width: 370px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.telegram-btn {
  margin-right: 24px;
  padding: 14px 36px 13px 73px;
  border: 1px solid #bbbfec;
  border-radius: 26px;
  background-image: url('../images/telegram-plane.svg');
  background-position: 32px 50%;
  background-size: auto;
  background-repeat: no-repeat;
  color: #3e46b1;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.216px;
}

.telephone {
  display: inline-block;
  margin-right: 48px;
  padding-left: 52px;
  background-image: url('../images/telephone-icon.svg');
  background-position: 0% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
}

.telephone.size {
  padding-left: 40px;
  background-size: contain;
  font-size: 18px;
  line-height: 25px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header {
  padding-top: 32px;
  padding-bottom: 30px;
}

.big-text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 44.62px;
  line-height: 54px;
  font-weight: 900;
  letter-spacing: 0.13386px;
}

.blue-txt {
  color: #3e46b1;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 0.192px;
}

.zullu-txt {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.108px;
}

.p-big {
  width: 95%;
  max-width: 430px;
  margin-top: 52px;
  margin-bottom: 78px;
  font-size: 22px;
  line-height: 136%;
}

.design-btn {
  overflow: visible;
  padding: 28px 87px 31px 86px;
  background-color: transparent;
  background-image: url('../images/btn-bg.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}

.design-btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.design-btn.submit {
  position: relative;
  top: 27px;
  display: block;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.design-btn.modal {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.design-btn.modal:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.content-wrapper {
  position: relative;
  padding: 80px 300px 30px 100px;
  background-image: url('../images/bg-head.png');
  background-position: 50% 50%;
  background-size: 1167px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.bg-items {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.section {
  position: relative;
  padding-bottom: 93px;
}

.element-anim {
  position: absolute;
  left: 92%;
  top: auto;
  right: auto;
  bottom: 10%;
}

.element-anim-second {
  position: absolute;
  left: 75%;
  right: auto;
  bottom: 20%;
}

.col-1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  padding-top: 232px;
  padding-bottom: 232px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.col-2 {
  width: 50%;
  margin-left: 90px;
}

.col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.telephone-zullu {
  position: absolute;
  left: 40%;
  right: auto;
  z-index: 5;
}

.shapes-bg {
  position: absolute;
  left: auto;
  right: 0%;
}

.telephone-zullu-2 {
  position: absolute;
  left: 21%;
  right: auto;
}

.bg-zullu {
  position: absolute;
  left: 0%;
  right: 0%;
}

.grid {
  display: -ms-grid;
  display: grid;
  margin-top: 77px;
  margin-bottom: 113px;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 71px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.icon-wrapper {
  position: relative;
  margin-bottom: 19px;
  padding-bottom: 4px;
}

.anim-icon {
  position: absolute;
  left: 14%;
  top: auto;
  right: auto;
  bottom: 0%;
}

.anim-icon.spin {
  left: 14%;
  right: auto;
  width: auto;
}

.card-text {
  color: #333;
  font-size: 18px;
  line-height: 133%;
}

.cards-wrapper {
  display: inline-block;
  margin-bottom: 80px;
}

.col-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 304px;
  padding: 58px 190px 48px 36px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 24px;
  background-color: #f4f4f4;
  background-image: url('../images/shape-bg.svg');
  background-position: 120% -70%;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #333;
}

.col-card:hover {
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.col-card._2 {
  margin-right: 0px;
  background-color: #fffaf1;
  background-image: none;
}

.col-card._3 {
  padding-right: 550px;
  background-color: #f8f4f1;
  background-image: url('../images/shape-oval.svg');
  background-position: 75% 260%;
}

.col-card-flex-wrapper {
  display: -ms-grid;
  display: grid;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.statuya-anim {
  position: absolute;
  left: auto;
  top: auto;
  right: -20%;
  bottom: -27%;
}

.oval-big {
  position: absolute;
  left: auto;
  top: auto;
  right: -3%;
  bottom: -23%;
  z-index: 0;
}

.baba-card {
  position: absolute;
  left: auto;
  top: auto;
  right: -12%;
  bottom: 0%;
  z-index: 1;
}

.oval-mini {
  position: absolute;
  left: auto;
  top: -7%;
  right: 30%;
  bottom: auto;
}

.moped {
  position: absolute;
  left: auto;
  top: auto;
  right: -3%;
  bottom: 3%;
  z-index: 1;
}

.derevo {
  position: absolute;
  left: auto;
  top: -13%;
  right: -6%;
  bottom: auto;
}

.grid-cards-wrapper {
  display: -ms-grid;
  display: grid;
  margin-top: 45px;
  margin-bottom: 76px;
  grid-auto-columns: 1fr;
  grid-column-gap: 22px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-cards-wrapper.margin-top {
  margin-top: 100px;
}

.card {
  color: #333;
}

.big-icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 256px;
  margin-bottom: 48px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/shape-element-telephone.svg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.big-icon-wrapper._3 {
  padding-right: 60px;
  background-image: url('../images/icon-element-moneta.svg');
}

.big-icon-wrapper._2 {
  padding-right: 50px;
  background-image: url('../images/icon-element-gloabal.svg');
}

.padding-card {
  padding-right: 20px;
  padding-left: 20px;
}

.gradient-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbddfc), color-stop(84.44%, #f0d5dc));
  background-image: linear-gradient(180deg, #dbddfc, #f0d5dc 84.44%);
}

.grid-cards-wrapper-gradient {
  display: -ms-grid;
  display: grid;
  margin-top: 63px;
  margin-bottom: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.gradient-card {
  position: relative;
  overflow: hidden;
  padding: 56px 190px 46px 36px;
  border-radius: 24px;
  background-color: #fff;
  background-image: url('../images/shape-bg.svg');
  background-position: 120% -70%;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.gradient-card:hover {
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.gradient-card._2 {
  background-image: none;
}

.gradient-card._4 {
  background-image: url('../images/shapes-slin.svg');
  background-position: 130% 180%;
}

.gradient-card._3 {
  background-image: url('../images/shape-rubble.svg');
  background-position: 120% 180%;
}

.gradient-heading {
  margin-bottom: 28px;
  font-size: 28px;
  line-height: 129%;
}

.rubble {
  position: absolute;
  left: auto;
  top: auto;
  right: 6%;
  bottom: 12%;
  z-index: 1;
}

.ziro {
  position: absolute;
  left: auto;
  top: auto;
  right: 6%;
  bottom: 15%;
}

.spin {
  position: absolute;
  left: auto;
  top: auto;
  right: -6%;
  bottom: 14%;
  width: 35%;
  max-width: none;
}

.snik {
  position: absolute;
  left: auto;
  top: -11%;
  right: -17%;
  bottom: auto;
  width: 69%;
  max-width: none;
}

.odin {
  position: absolute;
  left: auto;
  top: 34%;
  right: 0%;
  bottom: auto;
}

.from-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 96px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.shapes-card {
  position: absolute;
  left: -9%;
  top: 29%;
  right: auto;
  bottom: auto;
  z-index: -1;
}

.icons-wrapper {
  position: relative;
  height: 150px;
}

.margin {
  margin-bottom: 31px;
}

.heart {
  position: absolute;
  left: 21%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 1;
}

.smile {
  position: absolute;
  left: auto;
  top: 0%;
  right: 11%;
  bottom: auto;
}

.card-info {
  padding-right: 31px;
  padding-left: 31px;
}

.cart {
  position: absolute;
  left: 8%;
  top: 44%;
  right: auto;
  bottom: auto;
}

.file {
  position: absolute;
  left: auto;
  top: 10%;
  right: 3%;
  bottom: auto;
  z-index: 1;
}

.file-wrapper {
  position: absolute;
  left: auto;
  top: -18%;
  right: -8%;
  bottom: auto;
}

.rubble-shape {
  position: absolute;
  left: auto;
  top: -26%;
  right: -7%;
  bottom: auto;
  z-index: -1;
}

.rubble-icon {
  position: absolute;
  left: auto;
  top: 11%;
  right: 13%;
  bottom: auto;
}

.form-wrapper {
  width: 95%;
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-right: 100px;
  padding-left: 100px;
  background-image: url('../images/form-bg.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.radio-label {
  margin-bottom: 0px;
  margin-left: 20px;
  color: #333;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
}

.radio-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 76px;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.radio-button {
  width: 18px;
  height: 18px;
  margin-top: 0px;
  margin-left: 0px;
  border-color: #bdb3dc;
  background-color: #fff;
  cursor: pointer;
}


.radio-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.radio {
  margin-top: 29px;
  margin-bottom: 34px;
}

.input {
  min-height: 48px;
  margin-bottom: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  border: 1px solid #bdb3dc;
  border-radius: 12px;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  color: #8f91a2;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.input:focus {
  border-color: #000;
}

.input.margin-right {
  margin-right: 30px;
}

.input.area {
  max-height: 100px;
  max-width: 100%;
  min-height: 80px;
  min-width: 100%;
}

.flex-hor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.shape-bg-form {
  position: absolute;
  left: -14%;
  top: auto;
  right: auto;
  bottom: auto;
  z-index: -1;
}

.app-btn {
  display: inline-block;
  width: 143px;
  height: 47px;
  margin-right: 16px;
  margin-left: -3px;
  padding-right: 0px;
  padding-left: 0px;
  background-image: url('../images/app-store.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.app-btn:hover {
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

.app-btn.google {
  display: inline-block;
  background-image: url('../images/google-store.png');
  background-position: 50% 50%;
  background-size: contain;
}

.p-card {
  margin-top: 45px;
  margin-bottom: 71px;
  font-weight: 600;
}

.footer-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  padding: 112px 250px 68px 100px;
  background-image: url('../images/footer-bg.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.content-card {
  max-width: 490px;
}

.iphone-card {
  position: absolute;
  left: auto;
  top: auto;
  right: 22%;
  bottom: auto;
}

.iphone-card._2 {
  top: 0%;
  right: 6%;
}

.footer {
  padding-top: 38px;
  padding-bottom: 30px;
}

.soc-btn {
  margin-right: 17px;
  padding: 7px 18px 8px 36px;
  border-radius: 16px;
  background-color: #4caf50;
  background-image: url('../images/whatsapp.svg');
  background-position: 13px 50%;
  background-size: auto;
  background-repeat: no-repeat;
  color: #fff;
  line-height: 17px;
  font-weight: 500;
}

.soc-btn.telegram {
  margin-right: 37px;
  background-color: #7aa5da;
  background-image: url('../images/telegram.svg');
}

.soc-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.copyright {
  margin-left: 30px;
  line-height: 19px;
}

.copy-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-link {
  margin-right: 24px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #8e8e93;
  line-height: 19px;
  text-decoration: none;
}

.footer-link:hover {
  color: #000;
  text-decoration: underline;
}

.footer-all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bg-popup {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  display: none;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0%;
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-popup.open {
  opacity: 100%;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 640px;
  max-width: 370px;
  padding-top: 81px;
  padding-right: 40px;
  padding-left: 40px;
  background-image: url('../images/icon-shape-blue.svg'), url('../images/bg-popup.svg');
  background-position: 40px 10%, 50% 50%;
  background-size: auto, contain;
  background-repeat: no-repeat, no-repeat;
}

.popup-input {
  height: 48px;
  margin-bottom: 33px;
  border: 1px solid #d1d1d6;
  border-radius: 12px;
  color: #8e8e93;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.0836719px;
}

.popup-input.margin-off {
  margin-bottom: 17px;
}

.popup-submit {
  display: block;
  width: 100%;
  margin-top: 49px;
  padding-top: 21px;
  padding-bottom: 21px;
  border-radius: 16px;
  background-color: #3e46b1;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 3.52941px;
}

.sogl {
  margin-top: 31px;
  color: #8e8e93;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.0590625px;
}

.close-btn {
  position: absolute;
  display: block;
  left: auto;
  top: 32px;
  right: 36px;
  bottom: auto;
  z-index: 999;
  width: 16px;
  height: 16px;
  background-image: url('../images/close.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .telephone {
    display: none;
  }

  .content-wrapper {
    padding-left: 50px;
  }

  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .col-card._3 {
    padding-right: 362px;
  }

  .col-card-flex-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-cards-wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-cards-wrapper.margin-top {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-cards-wrapper-gradient {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .gradient-card {
    background-position: 110% -70%;
  }

  .gradient-card._4 {
    background-position: 110% 180%;
  }

  .gradient-card._3 {
    background-position: 110% 180%;
  }

  .spin {
    right: 1%;
  }

  .snik {
    right: -12%;
  }

  .form-wrapper {
    background-size: contain;
  }

  .footer-card {
    padding-right: 300px;
    padding-left: 50px;
  }

  .soc-btn.telegram {
    margin-right: 0px;
  }

  .soc-wrapper {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .blue-btn {
    margin-right: 0px;
    text-align: center;
  }

  .telegram-btn {
    text-align: center;
  }

  .telephone {
    display: none;
    margin-right: 0px;
  }

  .nav-menu {
    margin-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .content-wrapper {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-position: 0% 50%;
    background-size: cover;
  }

  .col-2 {
    width: 100%;
    margin-top: 30px;
    margin-left: 0px;
  }

  .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .col-card {
    padding-right: 150px;
  }

  .col-card._3 {
    padding-right: 30px;
  }

  .moped {
    display: none;
  }

  .derevo {
    display: none;
  }

  .grid-cards-wrapper {
    grid-row-gap: 35px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-cards-wrapper.margin-top {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .big-icon-wrapper {
    background-position: 0% 100%;
    background-size: contain;
  }

  .form-wrapper {
    padding-right: 30px;
    padding-left: 30px;
    background-size: cover;
  }

  .footer-card {
    padding-right: 0px;
    padding-left: 0px;
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }

  .content-card {
    max-width: none;
  }

  .iphone-card {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .telegram-btn {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }

  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .big-text {
    font-size: 13vw;
    line-height: 0.9em;
    text-align: center;
  }

  .blue-txt {
    font-size: 20vw;
  }

  .zullu-txt {
    font-size: 7.5vw;
  }

  .p-big {
    margin-bottom: 50px;
    font-size: 19px;
  }

  .design-btn {
    display: block;
    text-align: center;
  }

  .design-btn.submit {
    padding-right: 70px;
    padding-left: 70px;
  }

  .content-wrapper {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }

  .bg-items {
    display: none;
  }

  .col-1 {
    width: 100%;
  }

  .col {
    margin-top: 0px;
  }

  .shapes-bg {
    display: none;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .card-wrapper {
    padding-right: 71px;
    padding-left: 71px;
  }

  .anim-icon.spin {
    display: block;
  }

  .col-card {
    padding-right: 20px;
    padding-left: 20px;
  }

  .statuya-anim {
    display: none;
  }

  .oval-big {
    z-index: 0;
    display: none;
  }

  .baba-card {
    display: none;
  }

  .gradient-card {
    padding-right: 36px;
  }

  .rubble {
    display: none;
  }

  .ziro {
    display: none;
  }

  .spin {
    display: none;
  }

  .snik {
    display: none;
  }

  .odin {
    z-index: 0;
    display: none;
  }

  .from-section {
    overflow: hidden;
  }

  .form-wrapper {
    margin-top: 160px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .radio-wrapper {
    margin-bottom: 20px;
  }

  .radio-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-hor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .app-btn {
    margin-left: 0px;
  }

  .app-btn.google {
    margin-right: 0px;
  }

  .footer-card {
    padding-top: 50px;
  }

  .content-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer {
    padding-top: 0px;
  }

  .soc-wrap {
    margin-top: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .copyright {
    margin-top: 20px;
    margin-left: 0px;
  }

  .copy-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-link {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .footer-all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .footer-links-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

